<form [formGroup]="form" class="forgot-password-form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input autocomplete="username" formControlName="username" matInput type="text" />
    <span matTextPrefix><mat-icon>person</mat-icon></span>
  </mat-form-field>
  <mat-form-field
    [ngClass]="{
      hasShortErrorMessages: emailControl.invalid,
    }">
    <mat-label>E-Mail</mat-label>
    <input autocomplete="email" formControlName="email" matInput type="text" />
    <span matTextPrefix><mat-icon>email</mat-icon></span>
    <mat-error *ngIf="emailControl.invalid">
      {{ getWrongEmailMessage(emailControl) }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="message">
    <span [ngClass]="successful ? 'success' : 'error'">{{ message }}</span>
  </ng-container>

  <button
    (click)="requestNewPassword()"
    [disabled]="!form.valid"
    class="forgot-password-button"
    color="primary"
    mat-raised-button>
    neues Passwort anfordern
  </button>
</form>
