<form [formGroup]="form" class="forgot-password-form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      autocomplete="username"
      type="text"
      formControlName="username" />
    <span matTextPrefix><mat-icon>person</mat-icon></span>
  </mat-form-field>
  <mat-form-field
    [ngClass]="{
      hasShortErrorMessages: emailControl.invalid
    }">
    <mat-label>E-Mail</mat-label>
    <input matInput autocomplete="email" type="text" formControlName="email" />
    <span matTextPrefix><mat-icon>email</mat-icon></span>
    <mat-error *ngIf="emailControl.invalid">
      {{ getWrongEmailMessage(emailControl) }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="message">
    <span [ngClass]="successful ? 'error' : 'success'">{{ message }}</span>
  </ng-container>

  <button
    class="forgot-password-button"
    mat-raised-button
    color="primary"
    (click)="requestNewPassword()"
    [disabled]="!form.valid">
    neues Passwort anfordern
  </button>
</form>
