<!-- first general player data -->
<div class="general-information">
  <mat-grid-list cols="9" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <img alt="TS Profile" src="/assets/ts_profile.png" style="width: 48px; height: 48px" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">{{ player.firstName }} {{ player.lastName }}</mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">{{ player.type.position.description }}</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="accent-text">
      {{ player.ovr }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="accent-text">
      {{ player.age }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="accent-text">
      {{ player.energy | percent }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="accent-text">
      {{ player.moral | percent }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      {{ player.talent | talentPipe }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      {{ player.type.description }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><small>OVR</small></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <small>ALTER</small>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <small>ENERGIE</small>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <small>MORAL</small>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- afterwards tabs for more data -->
<mat-tab-group [(selectedIndex)]="currentTabIndex" animationDuration="0ms" dynamicHeight>
  <mat-tab label="Allgemein">
    <div class="mat-tab-content">
      <mat-grid-list cols="2" rowHeight="20:1">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Team</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">
            @if (player.teamName) {
              {{ player.teamName }}
            } @else {
              Keinem Team zugeordnet.
            }
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Status</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">
            {{ player.status.description }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Draft</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">
            @if (player.draftPosition) {
              {{ getDraftPosition(player.draftPosition) }}
            } @else {
              Free Agent
            }
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Nationalität</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">
            {{ player.nationality }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Größe</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">{{ player.height }} cm</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Gewicht</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">{{ player.weight }} kg</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Marktwert</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">{{ player.marketValue | currency: 'EUR' : 'symbol' : '.0' }}</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Erfahrung</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">{{ player.experience | percent }}</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="left-align">Charakter</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="right-align">{{ player.character.description }}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="Statistiken">Content 2</mat-tab>
  <mat-tab label="Skills">
    <ng-container>
      <div class="mat-tab-content responsive-grid">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Skillpoints</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="skill-content">
              <p>{{ getFlooredSP(player.skillpoints) || 0 }} SP</p>
            </div>
            <section class="progress-bar-container">
              <mat-progress-bar
                mode="determinate"
                value="{{ calcSkillProgress(player.skillpoints) }}"></mat-progress-bar>
              <div style="position: absolute; padding: 10px; color: white; font-size: 12px">
                {{ calcSkillProgress(player.skillpoints) }} %
              </div>
            </section>
          </mat-card-content>
        </mat-card>
        @for (skillCard of skillCards(); track skillCard.name) {
          <mat-card>
            <mat-card-header>
              <div class="skill-head-container">
                <mat-card-title>{{ skillCard.name }}</mat-card-title>
                @if (player.skillpoints >= 1) {
                  <button mat-raised-button class="add-skill" (click)="updateSkill(skillCard.name)">
                    <mat-icon>add</mat-icon>
                  </button>
                }
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="skill-content">
                <p>{{ skillCard.value }}</p>
                <mat-progress-bar mode="determinate" value="{{ skillCard.progress }}"></mat-progress-bar>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Vertrag">
    <div class="mat-tab-content">
      <mat-grid-list cols="2" rowHeight="15:1">
        <mat-grid-tile [colspan]="2" [rowspan]="3">
          <div class="flex-container">
            <label for="salaryRange">Gehalt</label>
            <div class="salary-range-container">
              <span class="text-small min">{{ minSalary | currency: 'EUR' : 'symbol' : '.0' }}</span>
              <mat-slider
                [displayWith]="formatSalary"
                discrete
                max="{{ maxSalary }}"
                min="{{ minSalary }}"
                showTickMarks
                step="{{ salaryStep }}">
                <input
                  (input)="changeSalary()"
                  [(ngModel)]="newSalary"
                  [value]="newSalary"
                  id="salaryRange"
                  matSliderThumb />
              </mat-slider>
              <span class="text-small max">{{ maxSalary | currency: 'EUR' : 'symbol' : '.0' }}</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"
        >{{ signingBonus | currency: 'EUR' : 'symbol' : '.0' }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">{{ moral | percent }}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">SIGNING BONUS</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">MORAL</mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"
        >{{ overallOffer | currency: 'EUR' : 'symbol' : '.0' }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"
        >{{ newSalaryCap | currency: 'EUR' : 'symbol' : '.0' }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">GESAMTANGEBOT</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">NEUES SALARY CAP</mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-divider style="width: 100%"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <mat-form-field appearance="fill">
            <mat-label>LAUFZEIT</mat-label>
            <mat-select (selectionChange)="onSalaryTimeChange()" [(value)]="timeOfContract">
              <mat-option value="1">1 Saison</mat-option>
              <mat-option value="2">2 Saisons</mat-option>
              <mat-option value="3">3 Saisons</mat-option>
              <mat-option value="4">4 Saisons</mat-option>
              <mat-option value="5">5 Saisons</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <button (click)="signContract()" color="primary" mat-raised-button>VERLÄNGERN</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
