.mat-tab-content {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  gap: 10px;
  justify-content: center;
}

.mat-mdc-card-header {
  justify-content: center;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;

  p {
    margin: 5px 0;
  }
}

.salary-range-container {
  display: flex;
  flex-direction: row;
}

mat-slider {
  width: 300px;
}

.text-small {
  font-size: 8px;
  position: relative;
  bottom: -40px;

  &.max {
    right: 30px;
  }

  &.min {
    left: 30px;
  }
}

.skill-head-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-skill {
  height: 18px;
  width: 18px;
  min-width: 18px;
  padding: 0;
  position: absolute;
  right: 20px;

  mat-icon {
    margin: 0;
  }
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-progress-bar {
  --mat-progress-bar-active-indicator-height: 1rem;
  --mat-progress-bar-track-height: 1rem;
  --mat-progress-bar-track-shape: 0;
}

.accent-text {
  font-size: 16px;
}

.general-information {
  min-width: 550px;
  min-height: 70px;
  padding: 10px 5px;
}

.left-align {
  position: absolute;
  left: 20px;
  font-weight: bold;
}

.right-align {
  position: absolute;
  right: 20px;
}
