<div class="columns-3 xl:columns-4 gap-6 p-6 w-screen">
  <mat-card class="mb-4 break-inside-avoid">
    <mat-card-header class="justify-center !pb-4">
      <mat-card-title>Bürogebäude</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onViewportActionOfficeCard($event)">
      <div class="card-content">
        <div class="grid grid-cols-2 gap-4">
          <div>Stufe</div>
          <div>{{ officeBuilding?.level }} / {{ officeBuilding?.maxLevel }}</div>
          <div>Personal</div>
          <div>{{ employees.length }} / {{ officeEffect?.value }}</div>
          <div>Gehalt</div>
          <div>{{ calcEmployeeSalary() | currency: 'EUR' : 'symbol' : '1.0-0' }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  @let jobs = jobs$ | async;
  @for (job of jobs; track job.id) {
    <mat-card class="mb-4 break-inside-avoid">
      <mat-card-header class="justify-center !pb-4">
        <mat-card-title>{{ job.name }}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onViewportAction($event)">
        <div class="card-content">
          @let employee = getEmployeeForJob(job);
          @if (employee) {
            <div class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</div>
            <mat-grid-list cols="2" rowHeight="5:1">
              <mat-grid-tile class="accent-text">
                {{ employee.ovr }}
              </mat-grid-tile>
              <mat-grid-tile class="accent-text">
                {{ employee.age }}
              </mat-grid-tile>
              <mat-grid-tile><small>OVR</small></mat-grid-tile>
              <mat-grid-tile><small>ALTER</small></mat-grid-tile>
              <mat-grid-tile class="accent-text">
                {{ employee.contract?.salary | currency: 'EUR' : 'symbol' : '1.0-0' }}
              </mat-grid-tile>
              <mat-grid-tile class="accent-text">
                {{ employee.contract?.endOfContract }}
              </mat-grid-tile>
              <mat-grid-tile><small>GEHALT</small></mat-grid-tile>
              <mat-grid-tile><small>VERTRAG</small></mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <mat-card-actions>
              @if (employee.contract !== null && employee.contract.endOfContract <= 2) {
                <button mat-raised-button color="primary" (click)="openContractDialog(employee)">NEUER VERTRAG</button>
              } @else {
                <button mat-raised-button color="primary" disabled>NEUER VERTRAG</button>
              }
              <button
                mat-raised-button
                color="warn"
                [tp]="tplConfirm"
                [tpPlacement]="'bottom'"
                #tpRelease="tippy"
                tpVariation="popperBorder">
                ENTLASSEN
              </button>
            </mat-card-actions>
            <ng-template #tplConfirm let-hide>
              <app-confirm-modal
                [title]="'Mitarbeiter entlassen'"
                [message]="
                  'Willst du deinen ' +
                  employee.job.name +
                  ' ' +
                  employee.firstName +
                  ' ' +
                  employee.lastName +
                  ' wirklich entlassen?'
                "
                [confirmBtnText]="'Entlassen'"
                [tooltip]="tpRelease"
                (confirm)="releaseEmployee(employee)">
              </app-confirm-modal>
            </ng-template>
          } @else {
            <mat-card-actions>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!hasFreePositions()"
                (click)="openEmployeeDialog(job)">
                EINSTELLEN
              </button>
            </mat-card-actions>
          }
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
