@switch (teamPart) {
  @case ('offense') {
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of offensePositions[1]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of offensePositions[2]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of offensePositions[3]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
  }
  @case ('defense') {
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of defensePositions[1]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of defensePositions[2]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of defensePositions[3]; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [activeLineupPos]="activeLineupPos"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
  }
  @case ('special') {
    <div class="flex flex-row m-4 gap-4 justify-center">
      @for (position of specialPositions; track position) {
        <div class="basis-1/5">
          <app-player-card-modal
            [position]="getPosition(position)"
            [player]="getPlayerForPosition(position)"
            [isSpecialTeam]="true"
            (openChangePositionModal)="openPositionModal($event)"></app-player-card-modal>
        </div>
      }
    </div>
  }
}
