<mat-card-header class="justify-center">
  <mat-card-title>{{ title }}</mat-card-title>
</mat-card-header>
<mat-divider class="!pb-2"></mat-divider>
<mat-card-content class="!flex justify-center">
  <mat-form-field appearance="fill" subscriptSizing="dynamic" class="full-width">
    <mat-label>{{ inputLabel }}</mat-label>
    <input [(ngModel)]="inputValue" [placeholder]="inputPlaceholder" [type]="inputType" matInput />
  </mat-form-field>
</mat-card-content>
<mat-card-actions>
  <button
    (click)="onConfirm()"
    [disabled]="!inputValue || inputValue.length < 3"
    color="warn"
    mat-raised-button
    class="px-2">
    {{ confirmBtnText | uppercase }}
  </button>
  <button (click)="onCancel()" mat-raised-button class="px-2">
    {{ 'Abbrechen' | uppercase }}
  </button>
</mat-card-actions>
