.login-form {
  display: flex;
  flex-direction: column;

  .login-button {
    margin-top: 50px;
    padding: 20px;
    width: 60%;
    left: 20%;
  }
}

span mat-icon {
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 10px;
}

.has-long-error-messages .mat-form-field-invalid {
  margin-bottom: 30px;
}

.has-short-error-message .mat-form-field-invalid {
  margin-bottom: 15px;
}
