<form [formGroup]="form" class="change-password-form">
  <mat-form-field
    *ngIf="isLoggedIn"
    [ngClass]="{
      'has-long-error-messages': isLongErrorMessage(passwordControl),
      'has-short-error-message': !isLongErrorMessage(passwordControl),
    }">
    <mat-label>aktuelles Passwort</mat-label>
    <input
      [type]="hideOldPassword ? 'password' : 'text'"
      autocomplete="new-password"
      formControlName="oldPassword"
      matInput />
    <span matTextPrefix><mat-icon>password</mat-icon></span>
    <button
      (click)="hideOldPassword = !hideOldPassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideOldPassword"
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="oldPasswordControl.invalid">
      {{ getWrongPasswordMessage(oldPasswordControl) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-long-error-messages': isLongErrorMessage(passwordControl),
      'has-short-error-message': !isLongErrorMessage(passwordControl),
    }">
    <mat-label>Passwort</mat-label>
    <input
      [type]="hidePassword ? 'password' : 'text'"
      autocomplete="new-password"
      formControlName="password"
      matInput />
    <span matTextPrefix><mat-icon>password</mat-icon></span>
    <button
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.invalid">
      {{ getWrongPasswordMessage(passwordControl) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-long-error-messages': isLongErrorMessage(repeatPasswordControl),
      'has-short-error-message': !isLongErrorMessage(repeatPasswordControl),
    }">
    <mat-label>Passwort wiederholen</mat-label>
    <input
      [type]="hideConfirmPassword ? 'password' : 'text'"
      autocomplete="new-password"
      formControlName="repeatPassword"
      matInput />
    <span matTextPrefix><mat-icon>password</mat-icon></span>
    <button
      (click)="hideConfirmPassword = !hideConfirmPassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmPassword"
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="repeatPasswordControl.invalid">
      {{ getWrongPasswordMessage(repeatPasswordControl) }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="message">
    <span [ngClass]="successful ? 'success' : 'error'">{{ message }}</span>
  </ng-container>

  <button
    (click)="changePassword()"
    [disabled]="!form.valid"
    class="change-password-button"
    color="primary"
    mat-raised-button>
    neues Passwort anfordern
  </button>
</form>
