<mat-grid-list cols="5" rowHeight="5:1">
  <mat-grid-tile [colspan]="1">
    <button
      #tpAutoLineup="tippy"
      [tpPlacement]="'bottom'"
      [tp]="tplAutoLineup"
      color="primary"
      mat-raised-button
      tpVariation="popperBorder">
      Auto-Aufstellung
    </button>
    <ng-template #tplAutoLineup let-hide>
      <app-confirm-modal
        (confirm)="autoLineup()"
        [confirmBtnText]="'Ja'"
        [message]="'Möchtest du dein Team automatisch aufstellen? Dabei gehen alle Einstellungen verloren.'"
        [title]="'Auto-Aufstellung'"
        [tooltip]="tpAutoLineup">
      </app-confirm-modal>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-button-toggle-group
      [(ngModel)]="teamPart"
      aria-label="Team Part"
      hideSingleSelectionIndicator
      name="teamPart"
    >
      <mat-button-toggle value="offense">Offensive</mat-button-toggle>
      <mat-button-toggle value="defense">Defensive</mat-button-toggle>
      <mat-button-toggle value="special">Special Teams</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>
  @if (teamPart === 'offense') {
    <mat-grid-tile [colspan]="2">
      <mat-label ngClass="label-before-slide">TE</mat-label>
      <mat-slide-toggle (change)="updateLineupOff($event)" [checked]="activeLineupOff === 'FB'">FB</mat-slide-toggle>
    </mat-grid-tile>
  } @else if (teamPart === 'defense') {
    <mat-grid-tile [colspan]="2">
      <mat-label ngClass="label-before-slide">NT</mat-label>
      <mat-slide-toggle (change)="updateLineupDef($event)" [checked]="activeLineupDef === 'MLB'">MLB</mat-slide-toggle>
    </mat-grid-tile>
  }
</mat-grid-list>
@if (team) {
  @switch (teamPart) {
    @case ('offense') {
      <app-lineup-team-part
        [team]="team"
        [teamPart]="teamPart"
        [activeLineupPos]="activeLineupOff"
        (openChangePositionModal)="openChangePositionModal($event)"></app-lineup-team-part>
    }
    @case ('defense') {
      <app-lineup-team-part
        [team]="team"
        [teamPart]="teamPart"
        [activeLineupPos]="activeLineupDef"
        (openChangePositionModal)="openChangePositionModal($event)"></app-lineup-team-part>
    }
    @case ('special') {
      <app-lineup-team-part
        [team]="team"
        [teamPart]="teamPart"
        (openChangePositionModal)="openChangePositionModal($event)"></app-lineup-team-part>
    }
  }
}
