:host {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}

.label-before-slide {
  vertical-align: middle;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  padding-right: 4px;
}
