<form [formGroup]="form" class="register-form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input autocomplete="username" formControlName="username" matInput type="text" />
    <span matTextPrefix><mat-icon>person</mat-icon></span>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-long-error-messages': isLongErrorMessage(passwordControl),
      'has-short-error-message': !isLongErrorMessage(passwordControl),
    }">
    <mat-label>Passwort</mat-label>
    <input
      [type]="hidePassword ? 'password' : 'text'"
      autocomplete="new-password"
      formControlName="password"
      matInput />
    <span matTextPrefix><mat-icon>password</mat-icon></span>
    <button
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      mat-icon-button
      matSuffix>
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.invalid">
      {{ getWrongPasswordMessage(passwordControl) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-long-error-messages': isLongErrorMessage(repeatPasswordControl),
      'has-short-error-message': !isLongErrorMessage(repeatPasswordControl),
    }">
    <mat-label>Passwort wiederholen</mat-label>
    <input
      [type]="hideConfirmPassword ? 'password' : 'text'"
      autocomplete="new-password"
      formControlName="repeatPassword"
      matInput />
    <span matTextPrefix><mat-icon>password</mat-icon></span>
    <button
      (click)="hideConfirmPassword = !hideConfirmPassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmPassword"
      mat-icon-button
      matSuffix>
      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="repeatPasswordControl.invalid">
      {{ getWrongPasswordMessage(repeatPasswordControl) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-short-error-message': emailControl.invalid,
    }">
    <mat-label>E-Mail</mat-label>
    <input autocomplete="email" formControlName="email" matInput type="text" />
    <span matTextPrefix><mat-icon>email</mat-icon></span>
    <mat-error *ngIf="emailControl.invalid">
      {{ getWrongEmailMessage(emailControl) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{
      'has-short-error-message': repeatEmailControl.invalid,
    }">
    <mat-label>E-Mail wiederholen</mat-label>
    <input autocomplete="email" formControlName="repeatEmail" matInput type="text" />
    <span matTextPrefix><mat-icon>email</mat-icon></span>
    <mat-error *ngIf="repeatEmailControl.invalid">
      {{ getWrongEmailMessage(repeatEmailControl) }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="error">
    <span class="error">{{ error }}</span>
  </ng-container>

  <button (click)="register()" [disabled]="!form.valid" class="register-button" color="primary" mat-raised-button>
    Registrieren
  </button>
</form>
