<ng-container>
  <mat-card
    class="flex flex-1"
    [ngClass]="{
      'player-card': isActive,
      'deactivated-card': !isActive,
    }">
    @if (showChangeButton) {
      <mat-card-header>
        <mat-card-title class="text-center">{{ getIsReturner() ? 'Returner' : position?.description }}</mat-card-title>
      </mat-card-header>
    }
    <mat-card-content class="min-w-44">
      <div class="player-name">
        {{ player.firstName }} {{ player.lastName }}
        {{ getIsReturner() ? '(' + player.type.position.position + ')' : '' }}
      </div>

      <div class="grid grid-cols-2 gap-2 text-center">
        <div class="accent-text col-span-1">
          {{ player.ovr }}
        </div>
        <div class="accent-text col-span-1">
          {{ player.age }}
        </div>
        <div class="col-span-1">
          <small>OVR</small>
        </div>
        <div class="col-span-1">
          <small>ALTER</small>
        </div>
        <div class="accent-text col-span-2">
          {{ player.talent | talentPipe }}
        </div>
        <div class="col-span-2">
          <small>TALENT</small>
        </div>
      </div>
    </mat-card-content>
    @if (showChangeButton) {
      <mat-card-actions>
        <button mat-raised-button (click)="openDialog()">ÄNDERN</button>
      </mat-card-actions>
    }
  </mat-card>
</ng-container>
