.player-name {
  text-align: center;
  font-size: 16px;
  padding-bottom: 1rem;
}

.accent-text {
  font-size: 16px;
}

.mat-mdc-card-header {
  justify-content: center;
}

.card-content {
  padding-top: 1rem;
}

mat-card-actions {
  justify-content: center;
}
