<mat-toolbar color="primary" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="logo">
    <img
      alt="Touchdown Stars"
      src="{{ '/assets/logo_transparent_inverted.png' }}" />
    Touchdown Stars
  </div>

  <span fxFlex fxHide fxShow.xs></span>
  <button mat-button (click)="sidenav.toggle()" fxHide fxShow.xs>
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

  <div class="toolbar-tools" fxShow fxHide.xs fxLayoutGap="10px">
    <a
      class="menu-item"
      mat-button
      routerLink="/home"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="toolbar-box">
        <mat-icon class="menu-icon">home</mat-icon>
        Home
      </div>
    </a>
    <a
      class="menu-item"
      mat-button
      routerLink="/office"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="toolbar-box">
        <mat-icon class="menu-icon">business_center</mat-icon>
        Büro
      </div>
    </a>
    <a
      class="menu-item"
      mat-button
      routerLink="/finances"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="toolbar-box">
        <mat-icon class="menu-icon">wallet</mat-icon>
        Finanzen
      </div>
    </a>
    <a
      class="menu-item"
      mat-button
      routerLink="/team"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="toolbar-box">
        <mat-icon class="menu-icon">groups</mat-icon>
        Team
      </div>
    </a>
    <a
      class="menu-item"
      mat-button
      routerLink="/league"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="toolbar-box">
        <mat-icon class="menu-icon">table_chart</mat-icon>
        Liga
      </div>
    </a>
  </div>
  <span fxFlex fxShow fxHide.xs></span>
  <!--  <mat-toolbar-row>-->
  <!-- hier dann money stuff nach rechts -->
  <!--  </mat-toolbar-row>-->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [autoFocus]="false">
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home"
        (click)="sidenav.toggle()"
        >Home</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/office"
        (click)="sidenav.toggle()"
        >Büro</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/finances"
        (click)="sidenav.toggle()"
        >Finanzen</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/team"
        (click)="sidenav.toggle()"
        >Team</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/league"
        (click)="sidenav.toggle()"
        >Liga</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayoutAlign="center center">
    <!--  <messages></messages>-->
    <!--  <loading [detectRoutingOngoing]="true"></loading>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet name="messages"></router-outlet>
