mat-sidenav-content {
  height: calc(100vh - 8rem);
}

@media (max-width: 599px) {
  mat-sidenav-content {
    height: calc(100vh - 7rem);
  }
}

mat-nav-list a.active {
  background: #ddd;
}

.user-avatar {
  max-height: 35px;
  border-radius: 4px;
}

.toolbar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.spacer {
  flex: 1 1 auto;
  width: 100%;
}

.menu-icon {
  transform: scale(1.5);
  margin: 0 !important;
}

.menu-item {
  cursor: pointer;
}

.menu-item.menu-item-active {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 24px;
  font-size: 15px;
  cursor: pointer;

  img {
    max-height: 24px;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar-tools {
  display: flex;
  gap: 10px;
}

.flex-span {
  flex: 1; /* fxFlex entspricht flex: 1 */
  display: flex; /* Verwende Flexbox-Layout */
}

.flex-span-big {
  flex: 0 1 50px; /* fxFlex="0 1 50px" */
}

.flex-chip-set {
  flex: 1 1 30%; /* fxFlex="1 1 30%" */
}

.team-chip-set {
  display: flex; /* Verwende Flexbox-Layout */
  align-items: center; /* Zentriere den Inhalt vertikal */
  justify-content: flex-end; /* Positioniere den Inhalt am Ende der Achse */
  flex: 1 0 40%; /* fxFlex="1 0 40%" */
}

.side-nav {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: flex-start; /* Vertikal an den Anfang ausrichten */
}

.menu-button {
  display: none;
}

/* Responsive-Anpassung für xs-Bildschirme */
@media screen and (max-width: 599px) {
  .hide-xs,
  .flex-span-big {
    display: none; /* Verstecke auf xs-Bildschirmen */
  }
  .menu-button {
    display: block; /* Zeige auf xs-Bildschirmen */
  }
  .team-chip-set {
    flex: auto; /* fxFlex.xs="auto" */
  }
}

@media screen and (max-width: 959px) {
  .hide-sm,
  .flex-span-big {
    display: none;
  }
  .team-chip-set {
    flex: 1 0 60%; /* fxFlex.sm="1 0 60%" */
  }
}
