<mat-toolbar color="primary" class="flex-container">
  <mat-toolbar-row>
    <div class="logo" routerLink="/home">
      <img
        alt="Touchdown Stars"
        src="{{ '/assets/logo_transparent_inverted.png' }}" />
      Touchdown Stars
    </div>

    <div class="toolbar-tools hide-xs">
      <a
        class="menu-item"
        mat-icon-button
        matTooltip="Home"
        routerLink="/home"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">home</mat-icon>
      </a>
      <a
        *ngIf="loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Büro"
        routerLink="/office"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">business_center</mat-icon>
      </a>
      <a
        *ngIf="loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Finanzen"
        routerLink="/finances"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">wallet</mat-icon>
      </a>
      <a
        *ngIf="loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Team"
        routerLink="/team"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">groups</mat-icon>
      </a>
      <a
        *ngIf="loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Liga"
        routerLink="/league"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">table_chart</mat-icon>
      </a>
    </div>
    <span class="flex-span hide-xs"></span>

    <div class="toolbar-tools">
      <button
        *ngIf="loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Logout"
        (click)="logout()">
        <mat-icon class="menu-icon">logout</mat-icon>
      </button>
      <button
        *ngIf="!loggedIn"
        class="menu-item"
        mat-icon-button
        matTooltip="Login"
        [routerLink]="['user', 'login']"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="menu-icon">login</mat-icon>
      </button>
    </div>

    <button
      mat-button
      class="menu-button"
      *ngIf="loggedIn"
      (click)="sidenav.toggle()">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="flex-span-big"></span>
    <mat-chip-set *ngIf="isSpecialPath('office')" class="flex-chip-set hide-xs">
      <mat-chip [routerLink]="['office', 'personal']" routerLinkActive="active">
        Personal
      </mat-chip>
      <mat-chip [routerLink]="['office', 'friendly']" routerLinkActive="active">
        Freundschaftsspiel
      </mat-chip>
    </mat-chip-set>
    <mat-chip-set *ngIf="isSpecialPath('team')" class="flex-chip-set hide-xs">
      <mat-chip [routerLink]="['team', 'roster']" routerLinkActive="active">
        Roster
      </mat-chip>
      <mat-chip [routerLink]="['team', 'contracts']" routerLinkActive="active">
        Verträge
      </mat-chip>
    </mat-chip-set>
    <!-- hier dann money stuff nach rechts -->
    <span class="flex-span hide-xs hide-sm"></span>
    <app-team-chip-set class="team-chip-set"></app-team-chip-set>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [autoFocus]="false">
    <mat-nav-list *ngIf="loggedIn">
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home"
        (click)="sidenav.toggle()"
        >Home</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/office"
        (click)="sidenav.toggle()"
        >Büro</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/finances"
        (click)="sidenav.toggle()"
        >Finanzen</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/team"
        (click)="sidenav.toggle()"
        >Team</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/league"
        (click)="sidenav.toggle()"
        >Liga</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav">
    <!--  <messages></messages>-->
    <app-loading [detectRoutingOngoing]="true"></app-loading>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet name="messages"></router-outlet>
