:host {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}

mat-slider {
  width: 80%;
  margin: 0;
}

.option-button {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  transform: scale(1.5);
  margin: 0 !important;
}

$run-path: 'M12.05 13.375L6.125 19.3q-.3.3-.712.3t-.713-.3t-.3-.712t.3-.713L13.6 9H11v1q0 .425-.288.713T10 11t-.712-.288T9 10V8q0-.425.288-.712T10 7h4.85q.4 0 .763.15t.637.425l3 2.975q.5.5 1.163.838t1.437.487q.425.075.738.388T22.9 13t-.35.7t-.775.225q-1.125-.15-2.075-.6T17.95 12.1l-1-1.05l-2.2 2.2l1.325 1.325q.35.35.288.838t-.488.737l-4.55 2.625q-.35.2-.762.1t-.613-.45t-.087-.763t.462-.612l3.425-1.975zM4 13q-.425 0-.712-.288T3 12t.288-.712T4 11h3q.425 0 .713.288T8 12t-.288.713T7 13zm-2-3q-.425 0-.712-.288T1 9t.288-.712T2 8h3q.425 0 .713.288T6 9t-.288.713T5 10zm17.475-2q-.825 0-1.425-.587T17.45 6t.6-1.412T19.475 4t1.425.588T21.5 6t-.6 1.413T19.475 8M4 7q-.425 0-.712-.288T3 6t.288-.712T4 5h3q.425 0 .713.288T8 6t-.288.713T7 7z';
$pass-path: 'm8.75 16.7l-1 1.725q-.2.35-.612.463t-.763-.088t-.462-.612t.087-.763L10.65 9.4q-.95-.975-1.425-2.225T8.75 4.6q0-.65.113-1.312T9.25 2q.15-.375.55-.488t.75.088t.463.6T11 3q-.125.375-.187.763t-.063.787q0 1.325.65 2.488T13.25 8.9l2.25 1.3q1.55.9 2.275 2.588t.725 3.162q0 .675-.125 1.338T18 18.575q-.15.4-.55.513T16.675 19q-.35-.2-.475-.6t0-.825q.125-.4.188-.788T16.45 16q0-.8-.225-1.55t-.725-1.4l-5.8 9.975q-.2.35-.612.463t-.763-.088t-.462-.612t.087-.763l2.5-4.325zM16 9q-.825 0-1.412-.587T14 7t.588-1.412T16 5t1.413.588T18 7t-.587 1.413T16 9m-2.5-5q-.65 0-1.075-.45T12 2.5q0-.65.45-1.075T13.5 1q.65 0 1.075.45T15 2.5q0 .65-.45 1.075T13.5 4';

.icon-slide-toggle {
  display: inline-flex !important;
  justify-content: center;
}

::ng-deep .icon-slide-toggle .mdc-switch__icon {
  transform: scale(0.8); // This is optional for a better icon fit

  // Toggle off
  &--off > path {
    d: path($run-path);
  }

  // Toggle on
  &--on > path {
    d: path($pass-path);
  }
}
