<ng-container *ngIf="!showProfile()">
  <mat-card class="login-card">
    <div class="logo-container">
      <img alt="Touchdown Stars" class="logo" mat-card-image src="/assets/logo_transparent_inverted.png" />
    </div>
    <mat-card-content>
      <router-outlet></router-outlet>
      <mat-card-actions>
        <div class="actions-row">
          <button
            *ngIf="isLoginPath()"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['forgot-password']"
            color="primary"
            mat-raised-button
            routerLinkActive="menu-item-active">
            Passwort vergessen
          </button>
          <button
            *ngIf="isLoginPath()"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['register']"
            color="primary"
            mat-raised-button
            routerLinkActive="menu-item-active">
            Registrieren
          </button>
          <button
            *ngIf="!isLoginPath() && !loggedIn"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['login']"
            color="primary"
            mat-raised-button
            routerLinkActive="menu-item-active">
            Zurück
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="showProfile()">
  <router-outlet name="profile"></router-outlet>
</ng-container>
