.login-card {
  width: 50vh;
  margin-top: 70px;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.logo-container {
  position: absolute;
  top: -50px;
  width: 30%;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

.logo {
  width: 100%;
}

mat-card-content {
  padding-top: 100px;
  width: 90%;
}

.actions-row {
  display: flex;
  margin: 10px auto;

  button {
    margin: 8px;
  }
}
