<ng-container *ngIf="!showProfile()">
  <mat-card class="login-card">
    <div class="logo-container">
      <img
        class="logo"
        mat-card-image
        src="/assets/logo_transparent_inverted.png"
        alt="Touchdown Stars" />
    </div>
    <mat-card-content>
      <router-outlet></router-outlet>
      <mat-card-actions>
        <div class="actions-row">
          <button
            *ngIf="isLoginPath()"
            mat-raised-button
            color="primary"
            [routerLink]="['forgot-password']"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{ exact: true }">
            Passwort vergessen
          </button>
          <button
            *ngIf="isLoginPath()"
            mat-raised-button
            color="primary"
            [routerLink]="['register']"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{ exact: true }">
            Registrieren
          </button>
          <button
            *ngIf="!isLoginPath() && !loggedIn"
            mat-raised-button
            color="primary"
            [routerLink]="['login']"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{ exact: true }">
            Zurück
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="showProfile">
  <router-outlet name="profile"></router-outlet>
</ng-container>
