@use '@angular/material' as mat;
@use 'app/_app.component-theme' as app;
@use 'app/features/user/user-theme' as user;
@use 'app/features/office/components/personal/personal-theme' as personal;
@use 'app/shared/modal/player-card-modal/player-card-modal-theme' as player-card-modal;

@use 'material-icons/iconfont/filled.css';
@use '@fontsource/roboto-mono/300.css' as robotoMono300;
@use 'dist/tippy';
@use 'themes/light';
@use 'themes/light-border';
@use 'themes/material';
@use 'animations/scale';

@tailwind base;
@tailwind components;
@tailwind utilities;

$material-icons-font-path: './' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-display: block !default;

$material-icons-font-path: '~material-icons/iconfont/';

html {
  min-height: 100%;
  display: flex;
}

body {
  min-height: 100%;
  flex: 1;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// we need this to have a pointer on the noninteractive mat-chip
span[matchipaction] {
  cursor: pointer;
}

@include mat.elevation-classes();
@include mat.app-background();

$dark-primary-text: rgba(black, 0.87);

$light-primary-text: white;

// made with http://mcg.mbitson.com/#!?primary=%23000888&accent=%23cc6600&themename=touchdownstars
// made with http://mcg.mbitson.com/#!?mcgpalette0=%23393a4f&mcgpalette1=%23cc8844&themename=touchdownstars
$mat-primary: (
  50: #e7e7ea,
  100: #c4c4ca,
  200: #9c9da7,
  300: #747584,
  400: #575869,
  500: #393a4f,
  600: #333448,
  700: #2c2c3f,
  800: #242536,
  900: #171826,
  A100: #6b77ff,
  A200: #3849ff,
  A400: #051aff,
  A700: #0014eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-accent: (
  50: #f9f1e9,
  100: #f0dbc7,
  200: #e6c4a2,
  300: #dbac7c,
  400: #d49a60,
  500: #cc8844,
  600: #c7803e,
  700: #c07535,
  800: #b96b2d,
  900: #ad581f,
  A100: #fff0e6,
  A200: #ffd0b3,
  A400: #ffaf80,
  A700: #ff9f67,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat.m2-define-palette($mat-primary, 500);

$accent: mat.m2-define-palette($mat-accent, A200, A100, A400);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);
@include app.color($theme);
@include user.color($theme);
@include personal.color($theme);
@include player-card-modal.color($theme);

.mat-elevation-z7 {
  box-shadow:
    0 4px 5px -2px #0003,
    0 7px 10px 1px #00000024,
    0 2px 16px 1px #0000001f !important;
}

.mat-elevation-z10 {
  box-shadow:
    0 6px 6px -3px #0003,
    0 10px 14px 1px #00000024,
    0 4px 18px 3px #0000001f !important;
}

.always-on-indicator {
  &.mdc-slider .mdc-slider__value-indicator {
    transform: scale(1);
  }
}
